@font-face {
    src: url('../../Fonts/Extatica-SemiBold.otf'),
    url('../../Fonts/Extatica-Regular.otf');
}

/* Container */
.main_container {
    -fx-font-family: Extatica-Regular;
}

/* Sidebar */
.sidebar {
    -fx-background-image: url("../../Images/login_banner.png");
    -fx-background-size: cover;
    -fx-alignment: top_center;
    -fx-padding: 30 0 0 0;
}

.sidebar Text {
    -fx-font-family: Extatica-SemiBold;
    -fx-font-size: 3em;
}

/* Content */
.main_content {
    -fx-background-color: #FFF;
}

.content_wrapper {
    -fx-alignment: center;
}

.input_container {
    -fx-spacing: 4;
}

/* Register Menu */
.register_menu_container {
    -fx-max-width: 400;
    -fx-spacing: 12;
}

.register_title {
    -fx-font-size: 3em;
}

/* Register input field */
.register_input_field {
    -fx-pref-height: 35;
    -fx-padding: 0 15;
    -fx-background-color: #DDBB92;
    -fx-background-radius: 12;
}

.name_username_input_field_container {
    -fx-spacing: 50;
}

.check-box {
    -fx-label-padding: 0 0 0 20;
}

/* Sign In Hyperlink */
.sign_in_hyperlink {
    -fx-border-color: transparent;
    -fx-underline: false;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
    -fx-cursor: hand;
}

/* Login Button */
.register_button {
    -fx-pref-height: 45;
    -fx-pref-width: 180;
    -fx-background-color: #DDBB92;
    -fx-background-radius: 24;
}

.register_button:hover {
    -fx-cursor: hand;
}

.register_button .text {
    -fx-font-family: Extatica-SemiBold;
    -fx-fill: #FFF;
    -fx-font-size: 1.5em;
}
